.social-icon {
  width: 30px;       /* tamaño del ícono */
  height: auto;      /* mantiene proporción */
  margin: 0 10px;    /* espacio entre íconos */
  vertical-align: middle;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
  cursor: pointer;
}

