@charset "utf-8";

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Regular.woff2') format('woff2'),
         url('../fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Bold.woff2') format('woff2'),
         url('../fonts/Cinzel-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


html {
 background-image: url("../images/exorcist.png");
   background-size:cover;
   background-repeat: no-repeat;
}

p {
    font-family: "Cinzel", serif;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: white;
}

h1{
    font-family: Garamond , serif;
    color: purple;
}

.underlined {
    font-family: 'Cinzel', serif;
     text-decoration: underline;        /* subraya el texto */
    text-underline-offset: 5px;
    text-decoration-thickness: 1.2px;   
}

p.eslogan {
    position: absolute;       /* permite moverlo libremente */
    top: 10%;                 /* distancia desde la parte superior de la página */
    left: 35%;                /* punto de referencia horizontal */
    transform: translateX(-50%); /* centra exactamente horizontalmente */
    text-align: center;
    font-family: 'Cinzel', serif;
    
    
    color: white;
    text-transform: uppercase;
}

p.subeslogan {
    position: absolute;
    top: 18%;                  /* un poco más abajo que el h2 */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    letter-spacing: 0.12em;
    color: white;
    text-transform: uppercase;
}